@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #C8D9E0;

}

.div_header {
    background-color: #507b8bbe;
    border: 2px inset white;
    width: 50%;
    text-align: center;
    margin: 2% auto auto auto;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.titulo1 {
    color: white;
    margin-bottom: 1vh;
    font-family: "Cherry Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.titulo2 {
    color: #0D2B36;
    text-shadow: 2px 1px 1px white;
}

.div_main {
    background-image: url(foto1.jfif);
    background-size: 100vw;
    background-repeat: no-repeat;
    margin: 5vh auto auto auto;
    padding: 2vw;
    height: 90vh;
}

.main {
    margin: 5% auto auto auto;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


ol {
    list-style-type: none;
}

hr {
    margin: 3% auto 5% auto;
}

h3 {
    text-align: center;
}

.titulo3 {
    color: white;
    text-align: center;
    background-color: #C8D9E0;
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
    margin: auto;
    border: 2px solid black;
    max-width: 500px;
    height: 10%;
}

.pack {
    background-color: white;
    box-sizing: border-box;
    float: center;
    width: 40%;
    height: 40vh;
    margin: auto auto 2% auto;
    padding: 2%;
    max-width: 300px;
    max-height: 250px;
    border-radius: 20px;
    border: 2px outset rgba(0, 0, 0, 0.549);
}

.pack:hover {
    transform: scale(110%);
    transition: all 0.3s ease-in;
    box-shadow: 5px 5px 5px white;
}

.div_section {
    background-image: url(foto2.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2%;
}

.section {
    clear: both;
    display: flex;
    justify-content: space-around;
    margin: 3% auto auto auto;
    padding: 3%;
    gap: 2%;
}

.titulo4 {
    color: white;
    text-align: center;
    background-color: #C8D9E0;
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
    margin: 3vh auto auto auto;
    border: 2px solid black;
    max-width: 500px;
    min-width: 300px;
}

@media(max-width:768px) {

    .div_main {
        background-size: auto;
    }

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div_section {
        display: flex;
        flex-direction: column;
        background-size: auto;
    }

    .section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pack {
        width: 90%;
        clear: both;
        max-width: 300px;
        max-height: 200px;
    }
}